name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Cargo build (CPU-only)
        run: |
          cd runner
          cargo build --workspace --all-targets
      - name: Cargo test (CPU-only)
        run: |
          cd runner
          cargo test --workspace --all-targets

